# T1-11. min-max 기준 상하위 5%값 Expected Questions

주어진 데이터에서 'f5'컬럼을 min-max 스케일 변환한 후, 상위 5%와 하위 5% 값의 합을 구하기

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('C:\\Github\\Study\\jinwoo\\bigdata\\basic1.csv')
df.head(5)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [2]:
df.isnull().sum()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [4]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['f5'] = scaler.fit_transform(df[['f5']])

In [8]:
low = df['f5'].quantile(0.05)
print(low)
high = df['f5'].quantile(0.95)
print(high)
print(low+high)

0.03670782406038746
0.9881662742993513
1.0248740983597389