# T1-12. 상위 10개, 하위 10개 차이

주어진 데이터에서 상위 10개 국가의 접종률 평균과 하위 10개 국가의 접종률 평균을 구하고, 그 차이를 구해보세요    
(단, 100%가 넘는 접종률 제거, 소수 첫째자리까지 출력)

In [17]:
import pandas as pd
df = pd.read_csv("C:\\Github\\Study\\Document\\covid-vaccination-vs-death_ratio.csv")
df

,Unnamed: 0,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
0,0,Afghanistan,AFG,2021-05-11,504502.0,448878.0,55624.0,12,40374668.0,1.111781
1,1,Afghanistan,AFG,2021-05-20,547901.0,470341.0,77560.0,10,40374668.0,1.164941
2,2,Afghanistan,AFG,2021-05-24,573277.0,476367.0,96910.0,10,40374668.0,1.179866
3,3,Afghanistan,AFG,2021-05-26,590454.0,479372.0,111082.0,19,40374668.0,1.187309
4,4,Afghanistan,AFG,2021-05-27,593313.0,479574.0,113739.0,14,40374668.0,1.187809
...,...,...,...,...,...,...,...,...,...,...
32906,32906,Zimbabwe,ZWE,2022-03-25,8691642.0,4814582.0,3473523.0,2,15229891.0,31.612715
32907,32907,Zimbabwe,ZWE,2022-03-26,8791728.0,4886242.0,3487962.0,2,15229891.0,32.083237
32908,32908,Zimbabwe,ZWE,2022-03-27,8845039.0,4918147.0,3493763.0,1,15229891.0,32.292726
32909,32909,Zimbabwe,ZWE,2022-03-28,8934360.0,4975433.0,3501493.0,1,15229891.0,32.668868
32910,32910,Zimbabwe,ZWE,2022-03-29,9039729.0,5053114.0,3510256.0,0,15229891.0,33.178924

In [22]:
country = df['country'].unique()
date = df['date'].unique()

In [26]:
df['date'] = pd.to_datetime(df['date'])
latest_per_country = df.loc[df.groupby('country')['date'].idxmax()]
latest_per_country

,Unnamed: 0,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
35,35,Afghanistan,AFG,2022-03-22,5751015.0,5082824.0,4420127.0,0,40374668.0,12.589141
219,219,Albania,ALB,2022-03-24,2754244.0,1278902.0,1215199.0,0,2869700.0,44.565704
239,239,Algeria,DZA,2022-03-09,13704895.0,7461932.0,6110712.0,1,45061896.0,16.559294
270,270,Andorra,AND,2022-03-13,151997.0,57817.0,53367.0,0,77355.0,74.742421
323,323,Angola,AGO,2022-03-25,17535411.0,11235059.0,5993792.0,0,34566172.0,32.503047
...,...,...,...,...,...,...,...,...,...,...
32473,32473,Wallis and Futuna,WLF,2022-03-21,12940.0,6483.0,6457.0,0,11094.0,58.436993
32488,32488,Yemen,YEM,2022-03-16,807502.0,643501.0,404781.0,0,30882462.0,2.083710
32559,32559,Zambia,ZMB,2022-02-27,2822009.0,2487149.0,1862614.0,4,19238117.0,12.928235
32910,32910,Zimbabwe,ZWE,2022-03-29,9039729.0,5053114.0,3510256.0,0,15229891.0,33.178924
23198,23198,"occupied Palestinian territory, including east...",PSE,2022-03-24,3694897.0,1995873.0,1756319.0,8,5293440.0,37.704650

In [42]:
error = latest_per_country['ratio'] < 100
#error.sum()
latest_per_country = latest_per_country[error]
latest_per_country

,Unnamed: 0,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
35,35,Afghanistan,AFG,2022-03-22,5751015.0,5082824.0,4420127.0,0,40374668.0,12.589141
219,219,Albania,ALB,2022-03-24,2754244.0,1278902.0,1215199.0,0,2869700.0,44.565704
239,239,Algeria,DZA,2022-03-09,13704895.0,7461932.0,6110712.0,1,45061896.0,16.559294
270,270,Andorra,AND,2022-03-13,151997.0,57817.0,53367.0,0,77355.0,74.742421
323,323,Angola,AGO,2022-03-25,17535411.0,11235059.0,5993792.0,0,34566172.0,32.503047
...,...,...,...,...,...,...,...,...,...,...
32473,32473,Wallis and Futuna,WLF,2022-03-21,12940.0,6483.0,6457.0,0,11094.0,58.436993
32488,32488,Yemen,YEM,2022-03-16,807502.0,643501.0,404781.0,0,30882462.0,2.083710
32559,32559,Zambia,ZMB,2022-02-27,2822009.0,2487149.0,1862614.0,4,19238117.0,12.928235
32910,32910,Zimbabwe,ZWE,2022-03-29,9039729.0,5053114.0,3510256.0,0,15229891.0,33.178924
23198,23198,"occupied Palestinian territory, including east...",PSE,2022-03-24,3694897.0,1995873.0,1756319.0,8,5293440.0,37.704650

In [45]:
latest_per_country = latest_per_country.sort_values(by='ratio')
high = latest_per_country['ratio'].tail(10).mean()
print(high)
low = latest_per_country['ratio'].head(10).mean()
print(low)
print(round(high-low,1))

91.81697544672711
3.4504083912453525
88.4