In [78]:
import pandas as pd

In [79]:
train = pd.read_csv("C:\\Users\\jyj42\\스터디2\\Study\\yujin\\datas\\train.csv")
test = pd.read_csv("C:\\Users\\jyj42\\스터디2\\Study\\yujin\\datas\\test.csv")

In [80]:
test
test.info()
test_date=test['datetime']
test1=test.drop(['datetime'],axis=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6493 entries, 0 to 6492
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    6493 non-null   object
 1   season      6493 non-null   int64
 2   holiday     6493 non-null   int64
 3   workingday  6493 non-null   int64
 4   weather     6493 non-null   int64
 5   temp        6493 non-null   float64
 6   atemp       6493 non-null   float64
 7   humidity    6493 non-null   int64
 8   windspeed   6493 non-null   float64
dtypes: float64(3), int64(5), object(1)
memory usage: 456.7+ KB

In [81]:
train
train.info()
count = train['count']
train1 = train.drop(['datetime','casual','registered','count'],axis=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

In [82]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(train1,count, test_size=0.2, random_state=2024)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((8708, 8), (2178, 8), (8708,), (2178,))

In [83]:
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor()
rf.fit(X_train, y_train)
pred=rf.predict(X_val)
r2_score(y_val,pred)

0.27547517930185494

In [84]:
train2 = train

In [85]:
train2['datetime'] = pd.to_datetime(train2['datetime'])
train2['year']=train2['datetime'].dt.year
train2['month']=train2['datetime'].dt.month
train2['day']=train2['datetime'].dt.day
train2['hour']=train2['datetime'].dt.hour
train2['week']=train2['datetime'].dt.dayofweek
train2 = train2.drop(['datetime'],axis=1)

In [86]:
test2=test

In [87]:
test2['datetime'] = pd.to_datetime(test2['datetime'])
test2['year']=test2['datetime'].dt.year
test2['month']=test2['datetime'].dt.month
test2['day']=test2['datetime'].dt.day
test2['hour']=test2['datetime'].dt.hour
test2['week']=test2['datetime'].dt.dayofweek
test2 = test2.drop(['datetime'],axis=1)

In [88]:
train2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      10886 non-null  int64
 1   holiday     10886 non-null  int64
 2   workingday  10886 non-null  int64
 3   weather     10886 non-null  int64
 4   temp        10886 non-null  float64
 5   atemp       10886 non-null  float64
 6   humidity    10886 non-null  int64
 7   windspeed   10886 non-null  float64
 8   casual      10886 non-null  int64
 9   registered  10886 non-null  int64
 10  count       10886 non-null  int64
 11  year        10886 non-null  int32
 12  month       10886 non-null  int32
 13  day         10886 non-null  int32
 14  hour        10886 non-null  int32
 15  week        10886 non-null  int32
dtypes: float64(3), int32(5), int64(8)
memory usage: 1.1 MB

In [89]:
test2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6493 entries, 0 to 6492
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      6493 non-null   int64
 1   holiday     6493 non-null   int64
 2   workingday  6493 non-null   int64
 3   weather     6493 non-null   int64
 4   temp        6493 non-null   float64
 5   atemp       6493 non-null   float64
 6   humidity    6493 non-null   int64
 7   windspeed   6493 non-null   float64
 8   year        6493 non-null   int32
 9   month       6493 non-null   int32
 10  day         6493 non-null   int32
 11  hour        6493 non-null   int32
 12  week        6493 non-null   int32
dtypes: float64(3), int32(5), int64(5)
memory usage: 532.8 KB

In [90]:
count2 = train2['count']
train2 = train2.drop(['casual','registered','count'],axis=1)

In [91]:
train2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      10886 non-null  int64
 1   holiday     10886 non-null  int64
 2   workingday  10886 non-null  int64
 3   weather     10886 non-null  int64
 4   temp        10886 non-null  float64
 5   atemp       10886 non-null  float64
 6   humidity    10886 non-null  int64
 7   windspeed   10886 non-null  float64
 8   year        10886 non-null  int32
 9   month       10886 non-null  int32
 10  day         10886 non-null  int32
 11  hour        10886 non-null  int32
 12  week        10886 non-null  int32
dtypes: float64(3), int32(5), int64(5)
memory usage: 893.1 KB

In [92]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(train2,count, test_size=0.2, random_state=2024)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((8708, 13), (2178, 13), (8708,), (2178,))

In [93]:
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor()
rf.fit(X_train, y_train)
pred=rf.predict(X_val)
r2_score(y_val,pred)

0.9508991805093094

In [96]:
pred_test=rf.predict(test2)
pred_test

array([ 14.23,   7.69,   4.86, ..., 149.15, 120.47,  71.95])

In [98]:
final=pd.DataFrame({'Datetime':test_date, 'count':pred_test})
final

                 Datetime   count
0     2011-01-20 00:00:00   14.23
1     2011-01-20 01:00:00    7.69
2     2011-01-20 02:00:00    4.86
3     2011-01-20 03:00:00    3.40
4     2011-01-20 04:00:00    3.05
...                   ...     ...
6488  2012-12-31 19:00:00  300.56
6489  2012-12-31 20:00:00  219.24
6490  2012-12-31 21:00:00  149.15
6491  2012-12-31 22:00:00  120.47
6492  2012-12-31 23:00:00   71.95

[6493 rows x 2 columns]

In [100]:
final.to_csv("sub.csv",index=False)