In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:\\Users\\jyj42\\스터디2\\Study\\yujin\\datas\\basic2.csv")
df

           Date     Sales      PV      UV  Events
0    2022-01-01  22711525  397349  4421.0       1
1    2022-01-02     36779    3969  2289.0       0
2    2022-01-03  13943875  373890     NaN       1
3    2022-01-04   8088593  142054  2157.0       0
4    2022-01-05   2395374  190684     NaN       0
..          ...       ...     ...     ...     ...
725  2023-12-27  33846609  415067  7360.0       1
726  2023-12-28   3659566  208601  2262.0       1
727  2023-12-29   1164008   14309   193.0       0
728  2023-12-30   3977696   60935     NaN       0
729  2023-12-31   3719764   60963  1507.0       0

[730 rows x 5 columns]

In [3]:
df['Date'] = pd.to_datetime(df['Date'])

In [4]:
df_weekday = df[(df['Date'].dt.weekday>=0) & (df['Date'].dt.weekday<=4)]
df_weekend = df[(df['Date'].dt.weekday==5) | (df['Date'].dt.weekday==6)]

In [5]:
print("{:.2f}".format(np.round((abs(np.mean(df_weekday['Sales'])-np.mean(df_weekend['Sales']))),2)))

581018.50