In [28]:
import pandas as pd
import sklearn

# # dataframe 불러오기
# data = pd.read_csv('C:\\Users\\lsj02\\OneDrive\\바탕 화면\\PNU\\멘토링\\Study\\basic1.csv')

# data
# #data['age'].mean()
# #data.groupby(['f4']).count()['id']
# #data.groupby(['city'])['age'].mean()

# # 정렬
# data = data.sort_values('age',ascending=False)
# data

titanic = pd.read_csv('C:\\Users\\lsj02\\OneDrive\\바탕 화면\\PNU\\멘토링\\Study\\seojin\\bigdatacertificationkr\\Titanic.csv')

Q1 = titanic['Fare'].quantile(0.25)
Q3 = titanic['Fare'].quantile(0.75)
IQR = Q3 - Q1
l = Q1 - 1.5 * IQR
r = Q3 + 1.5 * IQR
l, r

outdata = titanic.loc[(titanic['Fare'] < l) | (titanic['Fare'] > r)]
sum(outdata['Gender'] == 'female')

70